In [6]:

def split(n):
    li=list(n)
    return (li)[::2]
split('pynative')

['p', 'n', 't', 'v']

In [8]:
def firstandlast(n):
    if n[0]==n[-1]:
          return True
    else:
        return False
n1=[1,2,4,1]
n2=[1,2,4,5,7]
print(firstandlast(n1))
print(firstandlast(n2))

True
False

In [40]:
def number(n):
    for i in range(1,n):
       print(str(i) * i,'\n')
(number(6))

1

22

333

4444

55555

In [41]:
a=input("enter name:")
b=int(input('enter age:'))
m=100-b
p=m+2019
print(a,'turns old in',p)

enter name:20
enter age:20
20 turns old in 2099